@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.root
{
    -fx-background-color: #393939;;
    -fx-font-family: 'Russo One', sans-serif;
}

.button
{
    -fx-background-color: #FC4C02;
    -fx-text-fill: #F8F8F8;
    -fx-background-radius:20px;
}

.button:focused
{
    -fx-border-color: transparent;
}

.menu-button{
    -fx-background-color: #FC4C02;
    -fx-text-fill: #F8F8F8;
    -fx-background-radius:20px;
}

.menu-item{
    -fx-background-color: #444444;
    -fx-text-fill: #F8F8F8;
}

.text-field
{
    -fx-background-color: #ECF2F7;
    -fx-background-radius: 5px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color: #F8F8F8;
}

.anchor-pane
{
    -fx-background-color: #ECF2F7;
}