@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.root
{
    -fx-background-color: #393939;;
    -fx-font-family: 'Russo One', sans-serif;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
}

.button
{
    -fx-background-color: #FC4C02;
    -fx-text-fill: #F8F8F8;
    -fx-background-radius:20px;
}

.buttonothertext
{
    -fx-background-color: #FC4C02;
    -fx-text-fill: #393939;
    -fx-background-radius:20px;
}

.button:focused
{
    -fx-border-color: transparent;
}

.text-field
{
    -fx-background-color: #ECF2F7;
    -fx-border-color: #444444;
    -fx-border-radius:5px;
}

.text, .label
{
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
}

.table-view
{
    -fx-background-color: transparent;
    -fx-border-style: none;
    -fx-border-width: 0px;
}

.table-view:focused
{
    -fx-border-color: transparent;
}


.table-view .corner
{
    -fx-background-color: transparent;
}

.table-view .column-header-background
{
    -fx-background-color:#FC4C02;
    -fx-text-fill: #393939;
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-background-color: #F8F8F8;
}

.anchor-pane
{
    -fx-background-color: #ECF2F7;
}